# Codigo del curso Python para journalist

Zona de importacion de librerias

In [1]:
import matplotlib

In [5]:
import pandas as pd

Importamos los datos

In [12]:
props=pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [9]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

Unimos las dos dataframes

In [17]:
merged = pd.merge(props, contribs, on="calaccess_committee_id")

In [18]:
merged.amount.sum()

466851993.3900001

In [20]:
%matplotlib inline

In [27]:
prop = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']

In [28]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

In [29]:
merged.amount.sum()

35177017.640000001

In [30]:
merged.committee_position.value_counts()

SUPPORT    762
OPPOSE      98
Name: committee_position, dtype: int64

In [31]:
support = merged[merged.committee_position == 'SUPPORT']

In [32]:
oppose = merged[merged.committee_position == 'OPPOSE']

In [33]:
support.amount.sum()

32675806.0

In [34]:
oppose.amount.sum()

2501211.6400000001

In [35]:
merged.sort_values("amount", ascending=False).head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name_x,committee_position,committee_name_y,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
142,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,PARKER AND AFFILIATED ENTITIES,SEAN,PALO ALTO,CA,94301,NaN,NaN,False,4000000.0
79,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",2083528,2016-09-15,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",NaN,SACRAMENTO,CA,95815,NaN,NaN,False,2000000.0
846,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,464,1385506,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",SUPPORT,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",2083608,2016-09-15,FUND FOR POLICY REFORM (NONPROFIT 501 (C)(4)),NaN,NEW YORK,NY,10019,NaN,NaN,False,1970000.0
851,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,465,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2082414,2016-09-15,FUND FOR POLICY REFORM,NaN,WILMINGTON,DE,19809,NaN,NaN,False,1970000.0
852,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,465,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),2096507,2016-09-27,FUND FOR POLICY REFORM,NaN,WILMINGTON,DE,19809,NaN,NaN,False,1403000.0

In [36]:
merged.groupby("committee_name_x").amount.sum().reset_index()

                                     committee_name_x       amount
0          ADULT USE CAMPAIGN FOR PROPOSITION 64; THE     17089.00
1   CALIFORNIANS FOR RESPONSIBLE MARIJUANA REFORM,...    860470.00
2   CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...    850000.00
3   DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...   4470000.00
4        FUND FOR POLICY REFORM (NONPROFIT 501(C)(4))   6140000.00
5   MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64    739200.00
6                         MOMS STRONG AGAINST PROP 64      6281.64
7                              NEW APPROACH PAC (MPO)   3865000.00
8   PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...   1130930.00
9   SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...   1364000.00
10  YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...  15734047.00

In [37]:
merged.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False)

    contributor_firstname            contributor_lastname     amount
483                  SEAN  PARKER AND AFFILIATED ENTITIES  7250000.0
482                  SEAN                          PARKER  1500000.0
281                 JULIE                         SCHAUER  1364000.0
108                DANIEL                           LEWIS  1250000.0
194                 HENRY                   VAN AMERINGEN  1000000.0
405              NICHOLAS                        PRITZKER   900000.0
421                 PETER                           THIEL   300000.0
456                 ROGER                         JENKINS    75000.0
23                 ANGELA                          HOWARD    65000.0
322              LAWRENCE                            HESS    30000.0
221                 JASON                            POST    10000.0
460              ROGER B.                         MCNAMEE    10000.0
548           ZACHARY PYM                        WILLIAMS    10000.0
239                JEREMY                         ZACHARY     7500.0
440                ROBERT                           ADAMS     6500.0
320                LAURIE                        BENENSON     5000.0
63                CAMILLA                           FIELD     5000.0
375               MICHAEL                            DEAN     5000.0
361            MARY QUINN                         DELANEY     5000.0
488             SHARON K.                        CHRISTIE     5000.0
515                 TERRY                          TURNER     3664.0
301              KHURSHID                           KHOJA     3300.0
277                  JULI                        CROCKETT     3000.0
149                  DOUG                        LANPHERE     2920.0
76                CHARLES                           ROVEN     2500.0
158                 EMILY                          PAXHIA     2500.0
414               PATRICK                       MCMANAMON     2500.0
507                STEVEN                          PERSKY     2500.0
382               MICHAEL                       STEINMETZ     2500.0
377               MICHAEL                           KLEIN     2500.0
..                    ...                             ...        ...
75                CHARLES                            LOVE      100.0
191              GRETCHEN                         BERGMAN       84.0
387              MICHELLE                           WOLFF       84.0
385              MICHELLE                          SEXTON       84.0
189                  GREG                           SMITH       75.0
389                  MIKE                         BARNETT       50.0
534                 WENDY                          COLTON       50.0
168                 ETHAN                         BROOKES       50.0
85           CHRISTINE A.                          PORTER       50.0
459                 ROGER                           TOWER       50.0
492                  SKIP                          ROACHE       50.0
335              LJUBOMIR                       BUTUROVIC       50.0
418                 PETER                          KIRSCH       50.0
326               LEONARD                        KAUFMANN       50.0
104                  DANA                          HIRSCH       50.0
105                DANIEL                          DODSON       50.0
125                 DAVID                          MURRAY       50.0
272                  JOSH                       KLEYMEYER       42.0
51                  BRIAN                        MITCHELL       35.0
533                 WAYNE                         SCHERER       30.0
448                ROBERT                         LOCKART       25.0
185                GEORGE                          OKEEFE       25.0
510               SUE ANN                           LORIG       25.0
355                  MARK                        SLABAUGH       25.0
540               WILLIAM                        SANTSCHI       25.0
430                  RICH                        GOLDBERG       25.0
358               MARSTON                         MEDLOCK        0.0
497             STEPHANIE                 WARREN-SAMARIPA        0.0
16             AMIRGHASEM                 SAMIMI-ARDESTAN        0.0
136                 DAVID                            WOOD        0.0

[549 rows x 3 columns]

In [38]:
merged.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

,contributor_firstname,contributor_lastname,committee_position,amount
483,SEAN,PARKER AND AFFILIATED ENTITIES,SUPPORT,7250000.0
482,SEAN,PARKER,SUPPORT,1500000.0
281,JULIE,SCHAUER,OPPOSE,1364000.0
108,DANIEL,LEWIS,SUPPORT,1250000.0
194,HENRY,VAN AMERINGEN,SUPPORT,1000000.0
405,NICHOLAS,PRITZKER,SUPPORT,900000.0
421,PETER,THIEL,SUPPORT,300000.0
456,ROGER,JENKINS,SUPPORT,75000.0
23,ANGELA,HOWARD,SUPPORT,65000.0
322,LAWRENCE,HESS,SUPPORT,30000.0
221,JASON,POST,SUPPORT,10000.0
460,ROGER B.,MCNAMEE,SUPPORT,10000.0
548,ZACHARY PYM,WILLIAMS,SUPPORT,10000.0
239,JEREMY,ZACHARY,SUPPORT,7500.0
440,ROBERT,ADAMS,OPPOSE,6500.0
320,LAURIE,BENENSON,SUPPORT,5000.0
63,CAMILLA,FIELD,SUPPORT,5000.0
375,MICHAEL,DEAN,OPPOSE,5000.0
361,MARY QUINN,DELANEY,SUPPORT,5000.0
488,SHARON K.,CHRISTIE,SUPPORT,5000.0
515,TERRY,TURNER,SUPPORT,3664.0
301,KHURSHID,KHOJA,SUPPORT,3300.0
277,JULI,CROCKETT,SUPPORT,3000.0
149,DOUG,LANPHERE,SUPPORT,2920.0
76,CHARLES,ROVEN,SUPPORT,2500.0
158,EMILY,PAXHIA,SUPPORT,2500.0
414,PATRICK,MCMANAMON,SUPPORT,2500.0
507,STEVEN,PERSKY,SUPPORT,2500.0
382,MICHAEL,STEINMETZ,SUPPORT,2500.0
377,MICHAEL,KLEIN,SUPPORT,2500.0
...,...,...,...,...
75,CHARLES,LOVE,SUPPORT,100.0
191,GRETCHEN,BERGMAN,SUPPORT,84.0
387,MICHELLE,WOLFF,SUPPORT,84.0
385,MICHELLE,SEXTON,SUPPORT,84.0
189,GREG,SMITH,SUPPORT,75.0
389,MIKE,BARNETT,SUPPORT,50.0
534,WENDY,COLTON,SUPPORT,50.0
168,ETHAN,BROOKES,SUPPORT,50.0
85,CHRISTINE A.,PORTER,SUPPORT,50.0
459,ROGER,TOWER,SUPPORT,50.0
492,SKIP,ROACHE,SUPPORT,50.0
335,LJUBOMIR,BUTUROVIC,SUPPORT,50.0
418,PETER,KIRSCH,SUPPORT,50.0
326,LEONARD,KAUFMANN,SUPPORT,50.0
104,DANA,HIRSCH,SUPPORT,50.0
105,DANIEL,DODSON,SUPPORT,50.0
125,DAVID,MURRAY,SUPPORT,50.0
272,JOSH,KLEYMEYER,SUPPORT,42.0
51,BRIAN,MITCHELL,SUPPORT,35.0
533,WAYNE,SCHERER,SUPPORT,30.0
448,ROBERT,LOCKART,SUPPORT,25.0
185,GEORGE,OKEEFE,SUPPORT,25.0
510,SUE ANN,LORIG,SUPPORT,25.0
355,MARK,SLABAUGH,SUPPORT,25.0
540,WILLIAM,SANTSCHI,SUPPORT,25.0
430,RICH,GOLDBERG,SUPPORT,25.0
358,MARSTON,MEDLOCK,SUPPORT,0.0
497,STEPHANIE,WARREN-SAMARIPA,SUPPORT,0.0
16,AMIRGHASEM,SAMIMI-ARDESTAN,SUPPORT,0.0
136,DAVID,WOOD,SUPPORT,0.0